.searchField {
  width: 40%;
}
.marginClass {
  margin-top: 1em;
}
.marginLeftClass {
  margin-left: 1em;
}
.alignItems {
  align-items: flex-start;
}
.inputWidth {
  width: 70%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
